html, body {
	background-color: #2c3e50;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}
:root {
    --swiper-theme-color: rgba(255, 255, 255, 0.5) ;
}
.swiper-container {
	width: 300px;
	height: 300px;
	margin: 20px;
  }
.swiper-slide {
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
	border-radius: 24px;
	background-color: rgba(66, 36, 36, 0.1);
}
.container {
	flex-wrap: wrap;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.mirror{
	padding-top: 50px;
	width: 450px; 
	height: 250px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.4);
	border-radius: 24px;
	background-color: rgba(66, 36, 36, 0.1);
	backdrop-filter: blur(5px);
	margin: 20px;
}
#catch-Pokemon {
	text-align: center;
	margin: 0 auto;
}
.pokemon-icon {
	width: 250px;
	height: auto;
}
#catch-Pokemon input[type = "text"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2980b9;
	padding: 8px 6px;
	width: 135px;
	outline: none;
	color: white;
	font-size: 14px;
	border-radius: 24px;
	transition: 0.8s;
	font-weight: auto;
}
#catch-Pokemon input[type = "text"]:focus {
	width: 200px;
	border-color: #d63031;
}
#catch-Pokemon button[type = "submit"] {
	background: none;
	display: block;
	margin: 20px auto;
	padding: 5px 2px;
	width: 100px;
	border: none;
	outline: none;
}
.pokeball {
	content: url(pokeball.svg);
	width: 30px;
}
.pokeball:hover {
	content: url(pokeball.svg);
	width: 50px;
	cursor: pointer;
	animation: growing 5s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#secondSlide {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
#thirdSlide {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	line-height: 140%;
	display: flex;
	flex-wrap: wrap;
	align-content:center;
}
#fourthSlide, #fifthSlide {
	line-height: 130%;
}
.titleNAME, .titleTYPE, .titleABILITY {
	background-color: #2980b9;
	margin: 18px auto;
	border: 0.1em solid #2980b9;
	padding: 6.5px 6px;
	width: 135px;
	color: white;
	font-size: 1em;
	border-radius: 1em;
}
.pokeName, .pokeType, .pokeAbilities {
	color: white;
	font-style: italic;
	padding: 1.5px;
	line-height: 110%;
}
.ability {
	color: white;
}
.titleDoubleDamageFrom, .titleDoubleDamageTo, 
.titleHalfDamageFrom, .titleHalfDamageTo,
.titleNoDamageFrom, .titleNoDamageTo
{
	background-color: #2980b9;
	margin: 1em auto;
	text-align: center;
	border: 0.1em solid #2980b9;
	padding: 0.2em 0.1em;
	width: 50%;
	color: white;
	font-size: 1em;
	border-radius: 1em;
}
.doubleDamageFromTypes, .doubleDamageToTypes, 
.halfDamageFromTypes, .halfDamageToTypes ,
.noDamageFromTypes, .noDamageToTypes
{
	color: white;
	text-align: center;
	font-style: italic;
}
@media only screen and (min-width: 1200px) {
	.mirror{
		padding-top: 50px;
		width: 450px; 
		height: 250px;
		position: relative;
		left: -10%;
	}
	  .swiper-container {
		width: 300px;
		height: 300px;
		position: relative;
		left: 7%;
	  }
}
@keyframes growing {
	0% {
	  transform: scale(0.7);
	}
  }